#cash {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.upgrade-title{
  font-size: 34px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.upgrade-description{
  font-size: 18px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-left: 50px;
}

.upgrade-bought{
  font-size: 60px;
  margin-left: 100px;
}

.upgrade{
  margin: 30px;
  cursor: pointer;
  user-select: none;
}

.upgrade-no-price{
  font-size: 24px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.box{
  display:inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  border: 5px solid white;
}

.box:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 3px solid black;
}
.box:after {
  content: " ";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: 3px solid black;
}